.main-title {
    font-family: "Crete Round", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    color: #ff6b00;
    margin: 125px 0 0 0;
    padding: 0 0 0 15px;    
}